.vscode
.DS_Store
core
#integration tests
bin
integrationDockerfile
test_results*
# ignore files in folder temp
temp/*
# but keep the folder temp
!temp/.keep
#to ignore the binary builds
nr-diagnostics*
nrdiag*
NrDiag*
#BFG repo cleaner
bfg-1.13.0.jar
replacement.txt
.git.bfg-report/
#Rusty hog
hog.out