.vscode
.DS_Store
core
#integration tests
bin
integrationDockerfile
temp/*
test_results*
#to ignore the binary builds
nr-diagnostics*
nrdiag*
NrDiag*
#BFG repo cleaner
bfg-1.13.0.jar
replacement.txt
.git.bfg-report/
#Rusty hog
hog.out